.logo-container img {
    margin-right: 40px;
}

.headshot-container img {
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.image-container img {
    display: block;
    float: right;
    margin-left: 30px;
}

.indent {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}